google-cloud-vision
numpy
pandas
python-dotenv
aniso8601
click
Flask==2.0.3
flask-restx
itsdangerous
Jinja2
jsonschema
MarkupSafe
python-dateutil
Werkzeug==2.1.2
opencv-python
scikit-image
imutils
imagehash
matplotlib
rdp
pyaml